/*
ѴЭЯГІСДL ШДУБДЯ Ьy ГНЗСЯФФКЗDМ4И
https://github.com/th3cr00k3dm4n
*/
@import url("/home/cr00k3d/.cache/wal/colors-waybar.css");
* {
 
    font-family: Source Code Pro;
    font-size: 11px;
}

window#waybar {
    background: @background;
   
    
}

tooltip {
	background: @background;
	border-radius: 15px;
	border-width: 5px;
	border-style: groove;
	border-color: @color9;
	}


#clock, 
#custom-updates,
#taskbar, 
#network,
#pulseaudio, 
#backlight,	
#cpu, 
#memory,
#disk,
#temperature,
#battery
 {
	color: @foreground;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: @color9;
	padding: 5px;
	margin:3px;
	
}

#taskbar{
	color: @background;
	background-color: @background;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: @color9;
	padding:0px;
	margin:0px;
	
}
#taskbar.empty{
	color: @background;
	border-color: @background;
	padding:0px;
	margin:0px;
}
 

#custom-power{
	color: @background;
	border-width: 0px;
	   border-radius: 10px;
	   background-color: @color10;
	   	padding: 5px;
	margin:3px;

}
#battery {
    color: #9ec49f;
}

@keyframes charge {
    0% {    background-position: 0%  0%; }
   25% {    background-position: 25% 0%; }
   50% {    background-position: 50% 0%; }
   75% {    background-position: 25% 0%; }
  100% {    background-position: 0%  0%; }
}

#battery.charging, #battery.plugged  {
  border: 1px solid;
  border-color:@color8;
  background: linear-gradient(to right, @color9, @background,@color9,@background, @color9  );
  background-size: 200% 100%; 
  animation: charge 10s ease-in-out	 infinite; 
  color: @foreground;
  }



@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#workspaces {
  background: @color3;
  margin: 0px;
  padding: 0px 0px;
  margin: 1px;
  border-radius: 15px;
  border: 2px;
  font-style: normal;
  opacity: 0.8;
  color: @color8;
}

#workspaces button {
  padding: 1px 1px;
  margin: 3px 3px;
  border-radius: 15px;
  border: 0px;
  color: #fff;
  /* background-color: #1e1e1e; */
  background-color: @background;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.active {
  color: @foreground;
  background: @background;
  border-radius: 15px;
  min-width: 5px;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#workspaces button.urgent {
  background-color: @color9;
}

